body {
  background: rgb(20, 20, 20);
  height: 97vh;
  display: grid;
  color: white;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

section {
  margin: auto;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.card {
  background: rgb(40, 40, 40);
  padding: 2em;
  margin: .5em;
  cursor: pointer;
  transition: .2s all;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}

.card:hover {
  transform: translate(3%, -3%);
  background: rgb(60, 60, 60);
  box-shadow: -2px 2px 10px black;
}

.stipled {
  --border-width: 3px;
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: var(--border-width);
  z-index: 1;
}
.stipledcover {
  width: 300px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  background: rgb(20, 20, 20);
  align-items: center;
  color: white;
  border-radius: var(--border-width);
  z-index: 1;
}

.stipled::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);

  background-image: repeating-linear-gradient(45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 5%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 10%);
  background-size: 200% 200%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s infinite linear;
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}